.header{
   display:grid;
   width: 500px;
   height: auto;
   padding: 35px 35px 35px 35px;
   border: 3px solid #000080;
   grid-template-areas: "textt . close"
                        ". img ."
                        ". img ."
                        ". imgtext ."
                        ". imgcontent ."
                        ". btn .";
   border-radius: 20px;
}
  
.header_basket{
      grid-area: textt;
   }
.header_close{
      grid-area: close;
   }
.header_basketimg{
      grid-area: img;
      width: 250px;
      height: auto;
      text-align: center;
   }
.header_imgtext{
      grid-area: imgtext;
      text-align: center;
   }
.header_imgcontent{
      grid-area: imgcontent;
      text-align: center;
   }

.basket__btn{
grid-area: btn;
}

.headerpage_chip{
   display: flex;
   margin: 20px;
}